@{
    ViewBag.Title = "AddOffer";
}

<h2>AddOffer</h2>
<form method="post" action="">
    <p>Provider?</p>
    <input type="text" value="provider" name="provider" required />
    <br>
    <p>Name?</p>
    <input type="text" value="name" name="name" required />
    <br>
    <p>Ort?</p>
    <input type="text" value="location" name="location" required />
    <br>
    <p>Internet?</p>
    <input type="number" value="internet" name="internet" required />
    <br>
    <p>Geschwindigkeit in G?</p>
    <input type="number" value="speed" name="speed" required />
    <br>
    <p>Telefon?</p>
    <input type="number" value="telephone" name="telephone" required />
    <br>
    <p>Preis pro Monat?</p>
    <input type="number" value="price" name="price" required />
    <br>
    <p>Preis2 pro Monat?</p>
    <input type="number" value="price2" name="price2" required />
    <br>
    <p>Mindestlaufzeit in ganzen Monaten?</p>
    <input type="number" value="minimumTime" name="minimumTime" required />
    <br>
    <p>Zusatz?</p>
    <input type="text" value="addition" name="addition" required />
    <br>
    <input type="submit" value="Submit" class="submit" />
</form>

