
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
@Html.ActionLink("AddOffer", "AddOffer", "Home")
<br />
@Html.ActionLink("ChangeOffer", "ChangeOffer", "Home")
<br />
@Html.ActionLink("DeleteOffer", "DeleteOffer", "Home")
<br />
