@{
    ViewBag.Title = "Home Page";
}

<div style="text-align: center;">
    <form method="post" action="">
        <h1> Login</h1>
        <p>Name</p>
        <input type="text" name="name" value="" required>
        <br>
        <p>Password</p>
        <input type="text" name="password" value="" required>
        <br>
        <input type="submit" value="Submit" class="submit" />
        <p>Dont't have an account yet?</p>
        <a href="/Home/Register">Register</a>
    </form>
</div>
