@{
    ViewBag.Title = "Home Page";
}

<div style="text-align: center;">
    <h1> Login</h1>
    <p>Name</p>
    <input type="text" name="" value="">
    <br>
    <p>Password</p>
    <input type="text" name="" value="">
    <br>
    <button>Login</button>
    <p>Dont't have an account yet?</p>
    <a>register</a>
</div>
<div style="text-align: center;">
    <h1> Register</h1>
    <p>Name</p>
    <input type="text" name="" value="">
    <br>
    <p>Password</p>
    <input type="text" name="" value="">
    <br>
    <button>Weiter</button>
    <p>Already have an account?</p>
    <a>Login</a>
</div>