@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div style="text-align: center;">
    <h1> Register</h1>
    <form method="post" action="">
        <p>Name</p>
        <input type="text" name="" value="">
        <br>
        <p>Password</p>
        <input type="text" name="" value="">
        <br>
        <input type="submit" value="Submit" class="submit" />
        <p>Already have an account?</p>
        <a href="~/Views/Home/Index.cshtml">Login</a>
    </form>
</div>